<!DOCTYPE html>
{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Contact{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/company/contact.css' %}">{% endblock %}

{% block body_block %}
<div class="container header">
    <h2>Contact Us</h2>
</div>
<div class="content container">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                <style>
                    .messages {
                        border: solid 5px red;
                    }
                </style>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {{ contact_form.non_field_errors }}
                    <div class="fieldWrapper">
                        {{ contact_form.subject.errors }}
                        <label for="{{ contact_form.name.id_for_label }}">Your Name (required):</label><br>
                        {{ contact_form.name }}
                    </div>
                    <div class="fieldWrapper">
                        {{ contact_form.subject.errors }}
                        <label for="{{ contact_form.email.id_for_label }}">Your Email (required)</label><br>
                        {{ contact_form.email }}
                    </div>
                    <div class="fieldWrapper">
                        {{ contact_form.subject.errors }}
                        <label for="{{ contact_form.sensor.id_for_label }}">Which sensor are you interested
                            in?</label><br>
                        {{ contact_form.sensor }}
                    </div>
                    <div class="fieldWrapper">
                        {{ contact_form.subject.errors }}
                        <label for="{{ contact_form.message.id_for_label }}">Your Message</label><br>
                        {{ contact_form.message }}
                    </div>
                    <input type="submit" class="btn btn-primary" id="send" value="SEND">
                </form>
            </div>
            <div class="col-md-6">
                <p>
                    <strong>DunAn Precision Inc.</strong><br>
                    Address: 4120 Freidrich Lane, Suite 225,<br>
                    Austin, TX 78744, USA<br>
                    Tel: +1 906-231-3531<br>
                    Email: info at dunanusa.com<br>
                    <br>
                    Website develop by Hao Meng<br>
                    Logo design by #<br>
                    Product photography by #<br>
                </p>
                <iframe width="555" height="460" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJAZtCloa0RIYRQbdvafpGkhE&key=AIzaSyCUKRhSs1kueOsi11WTf9Q6ZnpQ3kXu7wI"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
