<!DOCTYPE html>
{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Our Customers{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/buy/customers.css' %}">{% endblock %}

{% block body_block %}
<div class="container header">
    <h2>Customers</h2>
    <p>Our products are used in various fields ranging from education over the electronics industry to automotive
        manufacturers.
        Please see below for a few of our customers we worked with.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://www.google.com/">Google</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://canon.jp/">Canon</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://www.honda.co.jp/">HONDA</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://panasonic.jp/">Panasonic</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://www.siemens.com/entry/cn/zh/">Siemens</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://www.scotload.com/">Scotload</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://aionav.com/">AIONAV</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://alo.se/Intl/Pages/Startpage.ept">Ålö AB</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://www.amzracing.ch/">ETH Zürich</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="https://www.walk-man.eu/">IIT</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://www.uni-muenchen.de/index.html">LMU Munich</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://www.waseda.jp/">Waseda University</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="Royal Veterinary College">Royal Veterinary College</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://newcastle.ac.uk/">Newcastle University</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://am3d.jp/">AM3D</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://robotnik.es/">Robotnik</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://scienceandmotion.com/index.php?navid=1&lang=en">Science&Motion</a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="http://www.ucam.edu/">UCAM</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
