<!DOCTYPE html>
{% extends "base.html" %}

{% load staticfiles %}

{% block title %}LPEMMG-B – EMG / MMG Sensor with Bluetooth (Wireless) Connectivity{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/products/product.css' %}">{% endblock %}

{% block body_block %}
<div class="container header">
    <h2>LPEMMG-B – EMG / MMG Sensor with Bluetooth (Wireless) Connectivity</h2>
</div>

<div class="container">
    <img src="{% static 'images/products/emg_mmg/LpEmmgBlueBg.png' %}" alt="" style="width:50%" class="center-block">
</div>

<div class="container">
    <h3>Description</h3>
    <p>The LP-Research electromyography (EMG) / mechanomyogram (MMG) sensor Bluetooth version (LPEMMG-B) is a miniature
        electromyography / mechanomyogram measurement solution. The unit analyzes skeletal muscle activity of the human
        body. Data is acquired at a maximum frequency of 1000 Hz and a noise RTI of 2.64 uVrms. The unit uses specially
        designed 100nm gold-coated electrodes that can be attached to the human skin without prior conditioning.</p>
    <p>Additionally to a traditional electromyography voltage measurement, the sensor allows recording of muscle and
        joint sound using two MEMS microphones placed in-between the gold electrodes. This additional measurement method
        gives users the ability to gain deeper insight about how muscle activation and acutal muscle motion / joint
        movement are connected. The unit is fully integrated with the OpenMAT toolkit.</p>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Specifications</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Product type</td>
            <td>LPEMMG-B</td>
        </tr>
        <tr>
            <td>Size</td>
            <td>LPEMMG-B: 45 x 37 x 20 mm<br>
                LPEMMG-B OEM: 28 x 20 x 12 mm
            </td>
        </tr>
        <tr>
            <td>Weight</td>
            <td>LPEMMG-B: 34 g<br>
                LPEMMG-B OEM: 7 g
            </td>
        </tr>
        <tr>
            <td>Communication link</td>
            <td>Bluetooth 2.1 + EDR, 2.412-2.484 GHz</td>
        </tr>
        <tr>
            <td>Communication distance</td>
            <td>< 18 m</td>
        </tr>
        <tr>
            <td>EMG Sampling rate</td>
            <td>1000 Hz</td>
        </tr>
        <tr>
            <td>ADC resolution</td>
            <td>12-bit</td>
        </tr>
        <tr>
            <td>Bandwidth</td>
            <td>20Hz – 450Hz</td>
        </tr>
        <tr>
            <td>Gain</td>
            <td>1500</td>
        </tr>
        <tr>
            <td>Analog input range</td>
            <td>0.1V – 2.9V</td>
        </tr>
        <tr>
            <td>Noise RTI</td>
            <td>2.64 uVrms</td>
        </tr>
        <tr>
            <td>Power line noise rejection</td>
            <td>Amplifier common-mode rejection driven right leg</td>
        </tr>
        <tr>
            <td>DC input rejection</td>
            <td>Passive differential filter</td>
        </tr>
        <tr>
            <td>DC offset removal from INA</td>
            <td>Feedback integrator</td>
        </tr>
        <tr>
            <td>Movement artifact rejection</td>
            <td>Input filter, feedback integrator</td>
        </tr>
        <tr>
            <td>Microphone sensitivity</td>
            <td>-26 dBFS</td>
        </tr>
        <tr>
            <td>Microphone signal-to-noise ratio</td>
            <td>63 dB</td>
        </tr>
        <tr>
            <td>Power supply</td>
            <td>Lithium battery (3.7V@100mAh)</td>
        </tr>
        <tr>
            <td>Battery run-time</td>
            <td>~3 hours</td>
        </tr>
        <tr>
            <td>Temperature range</td>
            <td>-20 to +60 °C</td>
        </tr>
        <tr>
            <td>Software</td>
            <td>
                C++ library for Windows, Java library for Android, LpmsControl software and Open <br>
                Motion Analysis Toolkit OpenMAT) for Windows.
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h3>Order</h3>
    <table class="table">
        <thead>
        <tr>
            <th>PRODUCT</th>
            <th>PACKAGE CONTENTS</th>
            <th>PRICE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>LPEMMG-B</td>
            <td>
                1 x LPEMMG-B sensor<br>
                2 x Micro USB cables<br>
                1 x User guide card<br>
                1 x Warranty & support (1 year)<br>
            </td>
            <td>
                <a href="{% url 'company:contact' %}">Contact us</a><br>
                <a href="{% url 'buy:distributors' %}">Find a distributor</a>
            </td>
        </tr>
        <tr>
            <td>LPEMMG-B OEM</td>
            <td>
                1 x LPEMMG-B mainboard<br>
                1 x LPEMMG-B Bluetooth communication board<br>
                1 x User guide card<br>
                1 x Warranty and support (1 year)<br>
            </td>
            <td>
                <a href="{% url 'company:contact' %}">Contact us</a><br>
                <a href="{% url 'buy:distributors' %}">Find a distributor</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <img src="{% static 'images/products/emg_mmg/LpEmmgBottom.jpg' %}" alt="" style="width:50%" class="center-block">
</div>

{% endblock %}

