.navbar {
    min-height: 135px;
    /*display:inline-block*/
}

#bs-example-navbar-collapse-1 {
    /*border: solid black 5px;*/
    margin: auto;
    margin-top: 40px;

}

.navbar-left {
    margin-top: 15px;
}

.footer {
    height: 80px;
    background-color: black;
    text-align: center;
    font-size: large;
}

.footer_one {
    word-spacing: 25px;
}

.footer a:link {
    color: white;
    cursor: auto;
}

.footer a:visited {
    color: white;
    cursor: auto;
}

a {
    text-decoration: none !important;
}
