.header {
    text-align: center;
}

h3 {
    text-align: center;
}

p, ul, ol {
    width: 800px;
    margin: auto;
    margin-bottom: 5px;
}

.container {
    margin-bottom: 25px;
}

.front {
    margin-bottom: 0px;
}

.front ul {
    width: auto;
}
