<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LPMS-B2: 9-Axis IMU / AHRS / Motion Sensor with Bluetooth 2.1 and 4.1 Connectivity - LP-RESEARCH</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../static/css/product.css">

</head>
<body>
<div class="container front">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="../../static/images/LogoNeda.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                    <li><a href="index.html">HOME</a></li>

                    <li class="dropdown">
                        <a href="imu.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">PRODUCTS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="imu.html">IMU Sensors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="emg.html">EMG / MMG Sensors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="software.html">Software Kit</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="applications.html">References & Use Cases</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">SOLUTIONS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">VR Large Room-Scale Tracking</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Activity Recognition & Context Analysis</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Optical-Inertial Sensor Fusion</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="download.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">SUPPORT<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="download.html">Download</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Knowledge Base</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">BUY<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Online Shop</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="distributors.html">Distributors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="terms.html">Terms of Service</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="about.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">COMPANY<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="customers.html">Our Customers</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>

                    <li><a href="#">BLOG</a></li>

                    <li><a href="#">中文</a></li>

                    <li><a href="#">ENGLISH</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>

<div class="container header">
    <h2>LPMS-B2: 9-Axis IMU / AHRS / Motion Sensor with Bluetooth 2.1 and 4.1 Connectivity</h2>
</div>

<div class="container">
    <img src="../../static/images/LPMSB2.jpg" alt="" style="width:50%" class="center-block">
</div>

<div class="container">
    <h3>Description</h3>
    <p>The LP-Research Motion Sensor Bluetooth version 2 (LPMS-B2) is a miniature wireless inertial measurement unit
        (IMU) / attitude and heading reference system (AHRS). The unit is very versatile, performing accurate, high
        speed orientation and relative displacement measurements. Through the use of three different MEMS sensors
        (3-axis gyroscope, 3-axis accelerometer and 3-axis magnetometer) drift-free, high-speed orientation data around
        all three axes is achieved. Additionally temperature and barometric pressure sensors allow accurate
        determination of the unit’s altitude. The LPMS-B2 communicates with a host system via a Bluetooth Classic 2.1 or
        Low Energy 4.1 connection. Multiple LPMS-B2 units can be used simultaneously with one host system (7 units
        maximum on Windows/Android). The sensor is capable of data transmission rates of up to 400Hz.</p>
</div>

<div class="container">
    <ul>
        <li><a href="https://www.lp-research.com/site/wp-content/uploads/2016/05/LpmsB2Flyer20160524eng.pdf"><strong>Datasheet</strong></a></li>
        <li><a href="https://www.lp-research.com/site/wp-content/uploads/2016/09/LpmsB2QuickStartGuide20160727.pdf"><strong>Quick Start Guide</strong></a></li>
    </ul>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Specifications</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Product type</td>
            <td>LPMS-B2, LPMS-B2 OEM</td>
        </tr>
        <tr>
            <td>Size</td>
            <td>LPMS-B2: 39 x 39 x 8 mm<br>
                LPMS-B2 OEM: 16 x 31 x 4 mm
            </td>
        </tr>
        <tr>
            <td>Weight</td>
            <td>Weight LPMS-B2: 12 g<br>
                LPMS-B2 OEM: 2 g
            </td>
        </tr>
        <tr>
            <td>Bluetooth</td>
            <td>2.1 + EDR / Low Enery (LE) 4.1</td>
        </tr>
        <tr>
            <td>Communication distance</td>
            <td>< 20 m</td>
        </tr>
        <tr>
            <td>Orientation range</td>
            <td>360° about all axes</td>
        </tr>
        <tr>
            <td>Resolution</td>
            <td>< 0.01°</td>
        </tr>
        <tr>
            <td>Accuracy</td>
            <td>< 2° (dynamic) < 0.5° (static)</td>
        </tr>
        <tr>
            <td>Accelerometer</td>
            <td>3 axes, ±2 / ±4 / ±8 / ±16 g, 16 bit</td>
        </tr>
        <tr>
            <td>Gyroscope</td>
            <td>3 axes, ±125 / ±245 / ±500 / ±1000 / ±2000 °/s, 16 bit</td>
        </tr>
        <tr>
            <td>Magnetometer</td>
            <td>3 axes, ± 4 / ± 8 / ± 12 / ± 16 gauss, 16 bit</td>
        </tr>
        <tr>
            <td>Pressure sensor</td>
            <td>300 – 1100 hPa</td>
        </tr>
        <tr>
            <td>Data output format</td>
            <td>Raw data / Euler angle / Quaternion</td>
        </tr>
        <tr>
            <td>Data transmission rate</td>
            <td>up to 400Hz</td>
        </tr>
        <tr>
            <td>Power consumption</td>
            <td>110 mW @ 3.3 V</td>
        </tr>
        <tr>
            <td>Power supply</td>
            <td>
                LPMS-B2: Lithium bat., >6h, (3.7V@230mAh)<br>
                LPMS-B2 OEM: 3.3-5.5V DC
            </td>
        </tr>
        <tr>
            <td>Temperature range</td>
            <td>
                LPMS-B2: -20 to +60 °C<br>
                LPMS-B2 OEM: -40 to +80 °C
            </td>
        </tr>
        <tr>
            <td>Connector</td>
            <td>
                LPMS-B2: Micro USB, Type B<br>
                LPMS-B2 OEM: SM02B-SURS-TF
            </td>
        </tr>
        <tr>
            <td>Software</td>
            <td>
                C++ library for Windows, Java library for Android, LpmsControl software and Open <br>
                Motion Analysis Toolkit OpenMAT) for Windows.
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h3>Order</h3>
    <table class="table">
        <thead>
        <tr>
            <th>PRODUCT</th>
            <th>PACKAGE CONTENTS</th>
            <th>PRICE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>LPMS-B2</td>
            <td>
                1 x LPMS-B2 sensor<br>
                1 x Micro USB cable<br>
                1 x User guide card<br>
                1 x Warranty & support (1 year)<br>
            </td>
            <td>
                <a href="#">Order online</a><br>
                <a href="distributors.html">Find a distributor</a>
            </td>
        </tr>
        <tr>
            <td>LPMS-B2 OEM</td>
            <td>
                1 x LPMS-B2 OEM<br>
                1 x Micro USB cable<br>
                1 x User guide card<br>
                1 x Warranty and support (1 year)<br>
            </td>
            <td>
                <a href="#">Order online</a><br>
                <a href="distributors.html">Find a distributor</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <img src="../../static/images/LpmsB2_Box.jpg" alt="" style="width:50%" class="center-block">
</div>

<div class="container footer">
    <p class="footer_one"><a href="index.html">Home</a>   <a href="imu.html">Products</a>   <a href="download.html">Support</a>   <a href="#">Order</a>   <a href="about.html">Company</a>   <a href="#">Blog</a>   <a href="#">Contact</a></p>
    <p>Copyright © 2017 <a href="index.html">LP-RESEARCH</a>. All rights reserved.</p>
</div>
</body>
</html>
