<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inertial Measurement Unit (IMU) Devices - LP-RESEARCH</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../static/css/product.css">

</head>
<body>
<div class="container front">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="../../static/images/LogoNeda.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                    <li><a href="index.html">HOME</a></li>

                    <li class="dropdown">
                        <a href="imu.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">PRODUCTS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="imu.html">IMU Sensors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="emg.html">EMG / MMG Sensors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="software.html">Software Kit</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="applications.html">References & Use Cases</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">SOLUTIONS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">VR Large Room-Scale Tracking</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Activity Recognition & Context Analysis</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Optical-Inertial Sensor Fusion</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="download.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">SUPPORT<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="download.html">Download</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Knowledge Base</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">BUY<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Online Shop</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="distributors.html">Distributors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="terms.html">Terms of Service</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="about.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">COMPANY<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="customers.html">Our Customers</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>

                    <li><a href="#">BLOG</a></li>

                    <li><a href="#">中文</a></li>

                    <li><a href="#">ENGLISH</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>

<div class="container header">
    <h2>LPEMMG-B – EMG / MMG Sensor with Bluetooth (Wireless) Connectivity</h2>
</div>

<div class="container">
    <img src="../../static/images/LpEmmgBlueBg.png" alt="" style="width:50%" class="center-block">
</div>

<div class="container">
    <h3>Description</h3>
    <p>The LP-Research electromyography (EMG) / mechanomyogram (MMG) sensor Bluetooth version (LPEMMG-B) is a miniature
        electromyography / mechanomyogram measurement solution. The unit analyzes skeletal muscle activity of the human
        body. Data is acquired at a maximum frequency of 1000 Hz and a noise RTI of 2.64 uVrms. The unit uses specially
        designed 100nm gold-coated electrodes that can be attached to the human skin without prior conditioning.</p>
    <p>Additionally to a traditional electromyography voltage measurement, the sensor allows recording of muscle and
        joint sound using two MEMS microphones placed in-between the gold electrodes. This additional measurement method
        gives users the ability to gain deeper insight about how muscle activation and acutal muscle motion / joint
        movement are connected. The unit is fully integrated with the OpenMAT toolkit.</p>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Specifications</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Product type</td>
            <td>LPEMMG-B</td>
        </tr>
        <tr>
            <td>Size</td>
            <td>LPEMMG-B: 45 x 37 x 20 mm<br>
                LPEMMG-B OEM: 28 x 20 x 12 mm
            </td>
        </tr>
        <tr>
            <td>Weight</td>
            <td>LPEMMG-B: 34 g<br>
                LPEMMG-B OEM: 7 g
            </td>
        </tr>
        <tr>
            <td>Communication link</td>
            <td>Bluetooth 2.1 + EDR, 2.412-2.484 GHz</td>
        </tr>
        <tr>
            <td>Communication distance</td>
            <td>< 18 m</td>
        </tr>
        <tr>
            <td>EMG Sampling rate</td>
            <td>1000 Hz</td>
        </tr>
        <tr>
            <td>ADC resolution</td>
            <td>12-bit</td>
        </tr>
        <tr>
            <td>Bandwidth</td>
            <td>20Hz – 450Hz</td>
        </tr>
        <tr>
            <td>Gain</td>
            <td>1500</td>
        </tr>
        <tr>
            <td>Analog input range</td>
            <td>0.1V – 2.9V</td>
        </tr>
        <tr>
            <td>Noise RTI</td>
            <td>2.64 uVrms</td>
        </tr>
        <tr>
            <td>Power line noise rejection</td>
            <td>Amplifier common-mode rejection driven right leg</td>
        </tr>
        <tr>
            <td>DC input rejection</td>
            <td>Passive differential filter</td>
        </tr>
        <tr>
            <td>DC offset removal from INA</td>
            <td>Feedback integrator</td>
        </tr>
        <tr>
            <td>Movement artifact rejection</td>
            <td>Input filter, feedback integrator</td>
        </tr>
        <tr>
            <td>Microphone sensitivity</td>
            <td>-26 dBFS</td>
        </tr>
        <tr>
            <td>Microphone signal-to-noise ratio</td>
            <td>63 dB</td>
        </tr>
        <tr>
            <td>Power supply</td>
            <td>Lithium battery (3.7V@100mAh)</td>
        </tr>
        <tr>
            <td>Battery run-time</td>
            <td>~3 hours</td>
        </tr>
        <tr>
            <td>Temperature range</td>
            <td>-20 to +60 °C</td>
        </tr>
        <tr>
            <td>Software</td>
            <td>
                C++ library for Windows, Java library for Android, LpmsControl software and Open <br>
                Motion Analysis Toolkit OpenMAT) for Windows.
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h3>Order</h3>
    <table class="table">
        <thead>
        <tr>
            <th>PRODUCT</th>
            <th>PACKAGE CONTENTS</th>
            <th>PRICE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>LPEMMG-B</td>
            <td>
                1 x LPEMMG-B sensor<br>
                2 x Micro USB cables<br>
                1 x User guide card<br>
                1 x Warranty & support (1 year)<br>
            </td>
            <td>
                <a href="#">Contact us</a><br>
                <a href="distributors.html">Find a distributor</a>
            </td>
        </tr>
        <tr>
            <td>LPEMMG-B OEM</td>
            <td>
                1 x LPEMMG-B mainboard<br>
                1 x LPEMMG-B Bluetooth communication board<br>
                1 x User guide card<br>
                1 x Warranty and support (1 year)<br>
            </td>
            <td>
                <a href="#">Contact us</a><br>
                <a href="distributors.html">Find a distributor</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <img src="../../static/images/LpEmmgBottom.jpg" alt="" style="width:50%" class="center-block">
</div>

<div class="container footer">
    <p class="footer_one"><a href="index.html">Home</a>   <a href="imu.html">Products</a>   <a href="download.html">Support</a>   <a href="#">Order</a>   <a href="about.html">Company</a>   <a href="#">Blog</a>   <a href="#">Contact</a></p>
    <p>Copyright © 2017 <a href="index.html">LP-RESEARCH</a>. All rights reserved.</p>
</div>
</body>
</html>
