<!DOCTYPE html>
{% extends "base.html" %}

{% load staticfiles %}

{% block title %}References & Use Cases{% endblock %}

{% block css_block %}<link rel="stylesheet" href="{% static 'css/products/applications.css' %}">{% endblock %}

{% block body_block %}
<div class="container header">
    <h2>Applications</h2>
    <p>LP-RESEARCH sensing and anlysis technology is used in various application fields, ranging from sport performance
        evaluation to medical surgery analysis. In many application cases, data fusion from multiple raw sensor data
        sources allows a more accurate and fast solution to a specific hard engineering problem than conventional
        methods.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="https://www.walk-man.eu/">
                    <img src="{% static 'images/products/applications/IMG_2192.jpg' %}" alt="" style="width:90%">
                    <div class="caption">
                        <p>Stability Sensing for Italian Institute of Technology’s (IIT) WALK-MAN Project</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="#">
                    <img src="{% static 'images/products/applications/AMZ_FSA.jpg' %}" alt="" style="width:90%">
                    <div class="caption">
                        <p>Drive Control and Analysis for ETH Zurich’s AMZ Student Racing Team</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="http://www.talisman-energy.com/">
                    <img src="{% static 'images/products/applications/Stocksy_txp.jpg' %}" alt="" style="width:90%">
                    <div class="caption">
                        <p>Mooring Chain Stabilization and Alarm System for Talisman Energy Oil Refinery Vessel</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="https://vimeo.com/90716276">
                    <img src="{% static 'images/products/applications/Stocksy.jpg' %}" alt="" style="width:90%">
                    <div class="caption">
                        <p>Human Motion Capture</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="#">
                    <img src="{% static 'images/products/applications/LpGlassNoText.png' %}" alt="" style="width:90%">
                    <div class="caption">
                        <p>Head Tracking for Virtual Reality</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="#">
                    <img src="{% static 'images/products/applications/IMG_3669a.jpeg' %}" alt="" style="width:90%">
                    <div class="caption">
                        <p>Control of Autonomous Drone</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2>Full Body Motion Capture</h2>
    <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/90716276"></iframe>
    </div>

</div>

<div class="container">
    <h2>USB-Connected IMU (LPMS-CU) Orientation Tracking</h2>
    <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/50924905"></iframe>
    </div>
</div>

<div class="container">
    <h2>Wireless IMU (LPMS-B) Orientation Tracking</h2>
    <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/50924904"></iframe>
    </div>

</div>

<div class="container">
    <h2>Head-Mounted-Display Orientation Measurement</h2>
    <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/51847972"></iframe>
    </div>

</div>

<div class="container">
    <h2>IMU / Optical Tracking Sensor Fusion-based Position Tracking</h2>
    <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/43450745"></iframe>
    </div>

</div>
{% endblock %}

