<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download - LP-RESEARCH</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../static/css/product.css">

</head>
<body>
<div class="container front">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="../../static/images/LogoNeda.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                    <li><a href="index.html">HOME</a></li>

                    <li class="dropdown">
                        <a href="imu.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">PRODUCTS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="imu.html">IMU Sensors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="emg.html">EMG / MMG Sensors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="software.html">Software Kit</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="applications.html">References & Use Cases</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">SOLUTIONS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">VR Large Room-Scale Tracking</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Activity Recognition & Context Analysis</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Optical-Inertial Sensor Fusion</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="download.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">SUPPORT<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="download.html">Download</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Knowledge Base</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">BUY<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Online Shop</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="distributors.html">Distributors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="terms.html">Terms of Service</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="about.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">COMPANY<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="customers.html">Our Customers</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>

                    <li><a href="#">BLOG</a></li>

                    <li><a href="#">中文</a></li>

                    <li><a href="#">ENGLISH</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>

<div class="container header">
    <h2>Downloads</h2>
</div>

<div class="container">
    <div class="strike">
        <span><img src="../../static/images/document.svg" alt="" style="width:30%"></span>
    </div>
</div>
<div class="container links">
    <h4>LPMS QUICK START GUIDES</h4>
    <p><a href="https://www.lp-research.com/site/wp-content/uploads/2016/09/LpmsB2QuickStartGuide20160727.pdf">LPMS-B2
        Quick Start Guide</a></p>
    <p><a href="https://www.lp-research.com/site/wp-content/uploads/2016/10/LpmsUsbal2QuickStartGuide20161001.pdf">LPMS
        USBAL2 Quick Start Guide</a></p>
    <p><a href="https://www.lp-research.com/site/wp-content/uploads/2016/10/LpmsCurs2QuickStartGuide20161013.pdf">LPMS-CURS2
        Quick Start Guide</a></p>
    <p><a href="https://www.lp-research.com/site/wp-content/uploads/2016/10/LpmsCU2QuickStartGuide20161013.pdf">LPMS-CU2
        Quick Start Guide</a></p>
    <p><a href="https://www.lp-research.com/site/wp-content/uploads/2016/10/LpmsUrs2QuickStartGuide20161013.pdf">LPMS-URS2
        Quick Start Guide</a></p>
    <p><a href="https://www.lp-research.com/site/wp-content/uploads/2016/10/LpmsUttl2QuickStartGuide20161013.pdf">LPMS-UTTL2
        Quick Start Guide</a></p>
    <p><a href="https://www.lp-research.com/site/wp-content/uploads/2016/10/LpmsCanal2QuickStartGuide20161013.pdf">LPMS-CANAL2
        Quick Start Guide</a></p>
    <p><a href="https://www.lp-research.com/site/wp-content/uploads/2016/10/LpmsRs232al2QuickStartGuide20161013.pdf">LPMS-RS232AL2
        Quick Start Guide</a></p>
</div>

<div class="container links">
    <h4>LPMS REFERENCE DOCUMENTATION</h4>
    <p><a href="https://www.lp-research.com/site/wp-content/uploads/2012/05/LpmsAllUsersGuide1.3.4.pdf">LPMS User’s
        Guide
        1.3.4</a></p>
    <p>NOTE: We are currently updating the reference manual for our latest sensor product releases (LPMS 2 series). For
        hardware specific documentation, please check the quick start guides above.</p>
</div>

<div class="container">
    <div class="strike">
        <span><img src="../../static/images/package.svg" alt="" style="width:30%"></span>
    </div>
</div>

<div class="container links">
    <h4>Version 1.3.5</h4>
    <p><a href="https://bitbucket.org/lpresearch/openmat/downloads/OpenMAT-1.3.5-Setup-Build20170518.exe">OpenMAT
        Version 1.3.5 </a>(Windows 32-bit binary)</p>
    <p><a href="https://bitbucket.org/lpresearch/openmat/downloads/LpSensor-1.3.5-Linux-i386.tar.gz">LpSensor-1.3.5
        library </a>(Ubuntu Linux 32-bit binary)</p>
    <p><a href="https://bitbucket.org/lpresearch/openmat/downloads/LpSensor-1.3.5-Linux-x86-64.tar.gz">LpSensor-1.3.5
        library </a>(Ubuntu Linux 64-bit binary)</p>
    <p><a href="https://bitbucket.org/lpresearch/openmat/downloads/LpSensor-1.3.5-Linux-armv7hf-raspi.tar.gz">LpSensor-1.3.5
        library </a>(Ubuntu Linux armv7hf binary, suits rasberry pi)</p>
    <p><a href="https://bitbucket.org/lpresearch/openmat/downloads/LpSensor-1.3.5-Linux-armv7hf.tar.gz">LpSensor-1.3.5
        library </a>(Ubuntu Linux armv7hf binary, suits Jetson TX1)</p>
</div>

<div class="container links">
    <h4>Version 1.3.4</h4>
    <p><a href="https://bitbucket.org/lpresearch/openmat/downloads/OpenMAT-1.3.5-Setup-Build20170518.exe">OpenMAT
        Version 1.3.4 </a>(Windows 32-bit binary)</p>
    <p><a href="https://bitbucket.org/lpresearch/openmat/downloads/LpSensor-1.3.5-Linux-i386.tar.gz">OpenMAT Version
        1.3.0 </a>(Windows 64-bit binary)</p>
    <p><a href="https://bitbucket.org/lpresearch/openmat/downloads/LpSensor-1.3.5-Linux-x86-64.tar.gz">LpSensor-1.3.4
        library </a>(Ubuntu Linux 32-bit binary)</p>
    <p><a href="https://bitbucket.org/lpresearch/openmat/downloads/LpSensor-1.3.5-Linux-armv7hf-raspi.tar.gz">LpSensor-1.3.4
        library </a>(Ubuntu Linux 64-bit binary)</p>
    <p><a href="https://bitbucket.org/lpresearch/openmat/downloads/LpSensor-1.3.5-Linux-armv7hf.tar.gz">LpSensor-1.3.4
        library </a>(Ubuntu Linux arm binary)</p>
</div>

<div class="container">
    <div class="strike android">
        <span><img src="../../static/images/character.svg" alt="" style="width:8%"></span>
    </div>
</div>

<div class="container links">
    <h4>ANDROID LIBRARY FOR LPMS-B2</h4>
    <p><a href="https://bitbucket.org/lpresearch/lpsensorandroid">Native Android Library</a></p>
</div>

<div class="container">
    <div class="strike">
        <span><img src="../../static/images/pencil.svg" alt="" style="width:30%"></span>
    </div>
</div>

<div class="container links">
    <h4>OPEN-SOURCE SOFTWARE</h4>
    <p><a href="https://bitbucket.org/lpresearch/lpmsexamples">Native Android Library</a></p>
    <p><a href="https://bitbucket.org/lpresearch/openmat"></a>OpenMAT Bitbucket repository</p>
    <p>NOTE: To build an open source project you will need to install several dependencies. The release notes contain a
        list of the ones required.</p>
</div>

<div class="container">
    <div class="strike">
        <span><img src="../../static/images/compare.svg" alt="" style="width:30%"></span>
    </div>
</div>

<div class="container links">
    <h4>RELEASE NOTES AND BUILD INSTRUCTIONS</h4>
    <p><a href="https://bitbucket.org/lpresearch/openmat/wiki/Home">OpenMAT Wiki on Bitbucket</a></p>
</div>

<div class="container">
    <div class="strike">
        <span><img src="../../static/images/star.svg" alt="" style="width:30%"></span>
    </div>
</div>

<div class="container links">
    <h4>BUG-TRACKER</h4>
    <p><a href="https://bitbucket.org/lpresearch/openmat/issues?status=new&status=open">OpenMAT issue tracker</a></p>
</div>

<div class="container footer">
    <p class="footer_one"><a href="index.html">Home</a>   <a href="imu.html">Products</a>   <a href="download.html">Support</a>   <a href="#">Order</a>   <a href="about.html">Company</a>   <a href="#">Blog</a>   <a href="#">Contact</a></p>
    <p>Copyright © 2017 <a href="index.html">LP-RESEARCH</a>. All rights reserved.</p>
</div>
</body>
</html>
