<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Software - LP-RESEARCH</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../static/css/product.css">

</head>
<body>
<div class="container front">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../home/index.html"><img src="../../static/images/LogoNeda.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                    <li><a href="../home/index.html">HOME</a></li>

                    <li class="dropdown">
                        <a href="imu/imu.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">PRODUCTS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="imu/imu.html">IMU Sensors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="emg_mmg/emg_mmg.html">EMG / MMG Sensors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="software.html">Software Kit</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="applications.html">References & Use Cases</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">SOLUTIONS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">VR Large Room-Scale Tracking</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Activity Recognition & Context Analysis</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Optical-Inertial Sensor Fusion</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="download.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">SUPPORT<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="download.html">Download</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Knowledge Base</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">BUY<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Online Shop</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="distributors.html">Distributors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="terms.html">Terms of Service</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="about.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">COMPANY<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="customers.html">Our Customers</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>

                    <li><a href="#">BLOG</a></li>

                    <li><a href="#">中文</a></li>

                    <li><a href="#">ENGLISH</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>

<div class="container header">
    <h2>Software</h2>
    <p>All LP-RESEARCH sensor devices are delivered with a software package. The software package contains the
        LPMS-Control application for general control of the sensors and a programming library for users to implement
        their own applications communicating with the sensor.</p>
</div>

<div class="container">
    <h3>LPMS-Control</h3>
    <h4>Overview</h4>
    <p>The LPMS-Control application allows users to control various aspects of an LPMS device. In particular the
        application has the following core functionality:</p>
    <ul>
        <li>Lists all LPMS devices connected to the system.</li>
        <li>Connects to up to 256 sensors simultaneously. Multiple connection interfaces (Bluetooth, CAN bus etc.) can
            be used at the same time.
        </li>
        <li>Adjusts all sensor parameters (sensor range etc.).</li>
        <li>Sets orientation offsets.</li>
        <li>Initiates accelerometer, gyroscope and magnetometer calibration.</li>
        <li>Displays the acquired data in real-time either as line graphs or a 3D image.</li>
        <li>Records data from the sensors to a CSV data file.</li>
        <li>Plays back data from a previously recorded CSV file.</li>
        <li>Uploads new firmware and in-application-programming software to the sensor.</li>
    </ul>

    <h4>Data Visualization</h4>
    <p>The screenshots below illustrate some of the functionality of the LPMS-Control software.</p>
    <div class="container">
        <img src="../../static/images/GUI-home.png" alt="" style="width:70%" class="center-block">
    </div>
    <p><strong>Figure 1</strong> – Raw measurement data (gyroscope, accelerometer, magnetometer, temperature sensor,
        barometric pressure
        sensor) and processed data (orientation, linear acceleration, altitude) can be visualized as line graphs. Data
        can be logged and saved to a CSV file.</p>
    <div class="container">
        <img src="../../static/images/3dVisualization.png" alt="" style="width:70%" class="center-block">
    </div>
    <p><strong>Figure 2</strong> – Orientation data can be 3D visualized in real-time, either as a simple cube or a more
        complex custom
        shape. The motion of several sensors can be displayed simultaneously, if multiple sensors are connected to
        LPMS-Control.</p>

    <h4>Sensor Calibration</h4>
    <p>Besides data acquisition, visualization and logging, LPMS-Control allows calibration of the LP motion sensor’s
        MEMS components. The application offers offset and misalignment calibration for the unit’s gyroscope and
        acclerometer, as well as magnetometer calibration functionality.</p>
    <p>While accelerometer and gyroscope calibration is usually done at our factory before delivery to the customer, the
        calibration parameters of the magnetometer can vary strongly depending on the usage of the sensor.</p>
    <p>Therefore the so-called hard-and soft iron calibration is an essential tool to adjust the sensor to work well in
        a specific environment. LPMS-Control offers a comfortable method to calibrate the magnetometer. Additionally to
        the pure calibration, the application also visualizes the shape of the environment magnetic field and shows the
        impact of magnetic noise on the sensor performance.</p>
    <div class="container">
        <img src="../../static/images/MagCalView.png" alt="" style="width:70%" class="center-block">
    </div>
    <p><strong>Figure 3</strong> – The shape of the magnetic field surrounding the LPMS is visualized as a 3D sphere. A
        bar graph indicates the current magnetic noise level in real-time.</p>
</div>

<div class="container">
    <h3>LpSensor Library</h3>
    <p>The LpSensor library contains classes that allow a user to integrate LPMS devices into their own applications. We
        provide the library pre-compiled for different operating systems. The standard library is written in C++, but we
        also offer wrappers for Python, C# and C. MATLAB and LabView ports are under development. Should your
        application require a specific software integration please contact us.</p>
    <p>The code snippet below shows the most simple method of connecting to the sensor and reading data. For deeper
        insight in the programming library and the full source code of LPMS-Control please have a look at our code
        repository.</p>
    <div class="container">
        <pre>#include "LpmsSensorI.h"
#include "LpmsSensorManagerI.h"

int main(int argc, char *argv[])
{
	ImuData d;

	// Gets a LpmsSensorManager instance
	LpmsSensorManagerI* manager = LpmsSensorManagerFactory();

	// Connects to LPMS-B sensor with address 00:11:22:33:44:55
	LpmsSensorI* lpms = manager->addSensor(DEVICE_LPMS_B, "00:11:22:33:44:55");

	while(1) {
		// Checks, if conncted
		if (
			lpms->getConnectionStatus() == SENSOR_CONNECTION_CONNECTED &&
			lpms->hasImuData()
			) {

			// Reads quaternion data
			d = lpms->getCurrentData();

			// Shows data
			printf("Timestamp=%f, qW=%f, qX=%f, qY=%f, qZ=%f\n",
				d.timeStamp, d.q[0], d.q[1], d.q[2], d.q[3]);
		}
	}

	// Removes the initialized sensor
	manager->removeSensor(lpms);

	// Deletes LpmsSensorManager object
	delete manager;

	return 0;
}</pre>
    </div>
</div>

<div class="container">
    <h3>Mobile Application</h3>
    <p>As part of the open motion analysis toolkit (OpenMAT) we offer support to monitor and log data from our wireless
        sensors using mobile devices. See below a screenshot of a sample program for Android. The application is well
        suitable for data logging tasks as is. Additionally we provide source code for users to modify the program to
        fit their specific requirements. An iOS version with similar functionality to the Android application is
        currently under development.</p>
    <div class="container">
        <img src="../../static/images/Screenshot.png" alt="" style="width:25%" class="center-block">
    </div>
    <p><strong>Figure 4</strong> – The Android sample application allows connecting to multiply sensors, visualizes
        sensor raw data/orientation and allows logging of sensor real-time data to a file.</p>
</div>

<div class="container footer">
    <p class="footer_one"><a href="../home/index.html">Home</a>   <a href="imu/imu.html">Products</a>   <a href="download.html">Support</a>   <a href="#">Order</a>   <a href="about.html">Company</a>   <a href="#">Blog</a>   <a href="#">Contact</a></p>
    <p>Copyright © 2017 <a href="../home/index.html">LP-RESEARCH</a>. All rights reserved.</p>
</div>
</body>
</html>
