<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms of Service - LP-RESEARCH</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../static/css/product.css">

</head>
<body>
<div class="container front">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../home/index.html"><img src="../../static/images/LogoNeda.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                    <li><a href="../home/index.html">HOME</a></li>

                    <li class="dropdown">
                        <a href="imu/imu.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">PRODUCTS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="imu/imu.html">IMU Sensors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="emg_mmg/emg_mmg.html">EMG / MMG Sensors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="software.html">Software Kit</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="applications.html">References & Use Cases</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">SOLUTIONS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">VR Large Room-Scale Tracking</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Activity Recognition & Context Analysis</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Optical-Inertial Sensor Fusion</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="download.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">SUPPORT<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="download.html">Download</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Knowledge Base</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">BUY<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Online Shop</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="distributors.html">Distributors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="terms.html">Terms of Service</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="about.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">COMPANY<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="customers.html">Our Customers</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>

                    <li><a href="#">BLOG</a></li>

                    <li><a href="#">中文</a></li>

                    <li><a href="#">ENGLISH</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>

<div class="container header">
    <h2>Terms of Service</h2>
</div>

<div class="container">
    <h3>Warranty and Return Policy</h3>
    <p>This Warranty and Return Policy contains the complete terms and conditions between LP-Research Inc. (“We” or
        “LP-Research”) and you (“You” or “Your”) regarding Your purchase of an LP-Research product (“Product”).</p>
    <p>The Products may be returned for a refund, within 30 days from date of purchase, less restocking fees of 30%.
        Shipping and handling fees of the Product is at the expense and responsibility of You and will not be refunded.
        LP-Research must be contacted prior to shipping of the returned Product via email at info@lp-research.com.</p>
    <p>The LP-Research Product may be returned for a full refund or exchange, within thirty (30) days from date of
        purchase, if the Product is received Dead on Arrival (DOA). An LP-Research Product is considered DOA if it shows
        symptoms of a hardware failure, preventing basic operability, when You first use it after opening the box. If
        You believe that your Product is DOA, please email info@lp-research.com within thirty (30) calendar days of the
        invoice date.</p>
    <p>LP-Research technical support will determine whether the Product is DOA and offer You the following options:</p>
    <ol>
        <li>Replacement: LP-Research, at its expense, will ship another of the same product. LP-Research will arrange
            for replacement and the DOA Product’s return; or
        </li>
        <li>Service: You may have the Product repaired. However, once you choose repair, you may not request replacement
            of the Product.
        </li>
    </ol>
    <p>If LP-Research determines that You have misrepresented a returned Product’s condition and that the Product is not
        DOA, LP-Research may, at its sole discretion, impose a handling fee.</p>
    <p>Returns of the Product must be made to the address LP-Research provides You upon contact.</p>
</div>

<div class="container">
    <h3>Limited Warranty</h3>
    <p>LP-Research warrants that the Product shall be free from defects in material or workmanship under normal use for
        three hundred and sixty (360) calendar days beginning from the date of shipping of your original purchase
        (“Limited Warranty”).</p>
</div>

<div class="container">
    <h3>Return Process</h3>
    <p>If You believe that the Product does not meet the Limited Warranty, please email info@lp-research.com to obtain a
        Return Material Authorization (RMA) number, shipping address and instructions from LP-Research.</p>
    <p>Returned Products must be packed in the original, unmarked packaging including any accessories, manuals,
        documentation and registration that were originally included with the Product. Please include a description of
        the problem with the Product. You must prepay all shipping charges, and LP-Research recommends that you: (1) use
        a carrier that offers shipment tracking for all returns; and (2) either insure your package for safe return to
        LP-Research or declare the full value of the shipment so that You are completely protected if the the Product is
        lost or damaged in transit. You are fully responsible for any loss or damage to the Product during shipping.</p>
</div>

<div class="container">
    <h3>Remedy</h3>
    <p>LP-Research’s sole obligation, and your sole remedy, for a breach of the Limited Warranty shall be as described
        here. LP-Research shall determine in its sole discretion whether the Product contains a material or workmanship
        problem. If so determined, LP-Research shall in its sole discretion: (i) repair the Product using new or
        refurbished parts; (ii) replace the Product with a new or refurbished Product; or (iii) refund to You the amount
        You paid for the Product based on your original method of payment. For the purposes of this Limited Warranty,
        “refurbished” means a Product or part that has been returned to its original specifications. Replaced parts and
        exchanged Products will become the property of LP-Research. The Limited Warranty gives You specific legal rights
        and You may have other rights which vary by jurisdiction.</p>
</div>

<div class="container">
    <h3>Warranty Exclusions</h3>
    <p>LThe Limited Warranty does not apply in the following cases:</p>
    <ol>
        <li>Damage caused to the Product by accident, abuse, misuse, flood, fire, earthquake or other external causes;
        </li>
        <li>If a Product is defective as a result of leaking batteries or liquid damage;</li>
        <li>Defective materials or workmanship where the defect is due to a Product having been serviced or modified by
            a party other than LP-Research or an LP-Research authorized service provider;
        </li>
        <li>Malfunction resulting from the use of accessories, attachments, product suppliers, parts or devices with the
            Product that do not conform to LP-Research’s specifications or are not supplied by LP-Research;
        </li>
        <li>Damage occurring during shipment; or</li>
        <li>Damage or service resulting from modifications or alterations to a Product in any way (including any
            alteration or removal of its serial number or identification marks).
        </li>
    </ol>
    <p><strong>Your option to return the Product under the Limited Warranty does not apply to the following
        Products:</strong></p>
    <ul>
        <li>Electronic software downloads; and</li>
        <li>Upgrades to Products provided by LP-Research.</li>
    </ul>
</div>

<div class="container">
    <h3>Warranty Disclaimer</h3>
    <p>Except as expressly set forth in this Warranty and Return Policy, the Product and all services are provided “As
        Is”. Neither LP-Research nor its suppliers makes any other warranties, written or oral, express or implied,
        statutory or otherwise, including but not limited to warranties of merchantability, title, fitness for a
        particular purpose or noninfringement. You may have other statutory rights. However, to the full extent
        permitted by law, the duration of statutorily required warranties, if any, shall be limited to the limited
        warranty period.</p>
</div>

<div class="container">
    <h3>Limitation of Liability</h3>
    <p>Neither We nor You shall be liable for any loss of use, lost data, failure of security mechanisms, interruption
        of business, lost profits or other economic loss, or any indirect, special, incidental, or consequential damages
        of any kind, regardless of the form of action, whether in contract, tort (including negligence), strict
        liability or otherwise, even if informed of the possibility of such damages in advance. Notwithstanding any
        other provision of this Warranty and Return Policy, LP-Research’s and its suppliers’ entire liability to You
        shall not exceed the amount actually paid by You to LP-Research for the Product. We and You agree that the
        limitations specified here will survive and apply even if any limited remedy specified herein is found to have
        failed of its essential purpose. Some jurisdictions do not allow limitations on how long an implied warranty
        lasts, or allow the exclusion or limitation of incidental or consequential damages, so the above limitations or
        exclusions may not apply to you.</p>
</div>

<div class="container">
    <h3>Governing Law</h3>
    <p>This Warranty and Return Policy shall be governed by the laws of Japan. Unless expressly waived by LP-Research in
        its sole discretion, the jurisdiction for any action arising out of or relating to the subject matter of this
        Warranty and Return Policy shall be the law of Japan, and You hereby submit to the exclusive jurisdiction of the
        Tokyo District Court in Japan.</p>
</div>

<div class="container footer">
    <p class="footer_one"><a href="../home/index.html">Home</a>   <a href="imu/imu.html">Products</a>   <a href="download.html">Support</a>   <a href="#">Order</a>   <a href="about.html">Company</a>   <a href="#">Blog</a>   <a href="#">Contact</a></p>
    <p>Copyright © 2017 <a href="../home/index.html">LP-RESEARCH</a>. All rights reserved.</p>
</div>
</body>
</html>
