<!DOCTYPE html>
{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Inertial Measurement Unit (IMU){% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/products/product.css' %}">{% endblock %}

{% block body_block %}
<div class="container header">
    <h2>Inertial Measurement Unit (IMU)</h2>
</div>

<div class="container">
    <img src="{% static 'images/products/imu/1/imu_2.png' %}" alt="" style="width:30%" class="center-block">
</div>

<div class="container">
    <h3>Description</h3>
    <p>The IMU products provide high-accuracy inertial measurement solutions to platform stabilization and pointing
        systems, high performance industrial applications, Unmanned Aerial Vehicles (UAVs), and Vehicles applications.
        The IMU integrates three-axis vibration-immunity gyroscopes, three-axis accelerometers, three-axis
        magnetometers, and a pressure sensor. The onboard processing includes attitude and heading reference, inertial
        navigation, Kalman and complementary filters, and dynamic compensation.</p>
</div>

<div class="container">
    <ul>
        <li>
            <a href="{% static 'documents/32A01T_document.pdf' %}"><strong>Document</strong></a></li>
    </ul>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Specifications</th>
        </tr>
        </thead>
        <tbody>

        <tr><td>Gyroscopes</td></tr>
        <tr>
            <td>Dynamic Range</td>
            <td>±300 °/s</td>
        </tr>
        <tr>
            <td>In-Run Bias Stability</td>
            <td>< 25 °/hr</td>
        </tr>
        <tr>
            <td>SF Non-Linearity</td>
            <td>< 0.05%</td>
        </tr>
        <tr>
            <td>Rate Noise Spectral Density</td>
            <td>0.015°/s/√Hz</td>
        </tr>
        <tr>
            <td>Resolution</td>
            <td>0.0125 °/s</td>
        </tr>

        <tr><td>Accelerometer</td></tr>
        <tr>
            <td>Dynamic Range</td>
            <td>±4g</td>
        </tr>
        <tr>
            <td>Noise Density</td>
            <td>< 0.15 mg/√Hz</td>
        </tr>
        <tr>
            <td>Resolution</td>
            <td>< 0.5 mg</td>
        </tr>
        <tr>
            <td>SF Non-Linearity (±4g)</td>
            <td>±0.5%</td>
        </tr>

        <tr><td>Magnetometer</td></tr>
        <tr>
            <td>Full-Scale Range</td>
            <td>±8 Gauss</td>
        </tr>
        <tr>
            <td>Noise Density</td>
            <td>120 μGauss/√Hz</td>
        </tr>

        <tr><td>Pressure Sensor</td></tr>
        <tr>
            <td>Range</td>
            <td>10 to 1200 mbar</td>
        </tr>
        <tr>
            <td>Resolution</td>
            <td>0.042 mbar</td>
        </tr>
        <tr>
            <td>Accuracy</td>
            <td>±1.5 mbar</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h3>Order</h3>
    <table class="table">
        <thead>
        <tr>
            <th>PRODUCT</th>
            <th>PACKAGE CONTENTS</th>
            <th>PRICE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Inertial Measurement Unit (IMU)</td>
            <td>
                1 x Inertial Measurement Unit (IMU)
            </td>
            <td>
                <a href="#">Order online</a><br>
                <a href="{% url 'buy:distributors' %}">Find a distributor</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <img src="{% static 'images/products/imu/1/imu_1.png' %}" alt="" style="width:25%" class="center-block">
</div>
{% endblock %}
