<!DOCTYPE html>
{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Inertial Measurement Unit (IMU) Devices{% endblock %}

{% block css_block %}<link rel="stylesheet" href="{% static 'css/products/products.css' %}">{% endblock %}

{% block body_block %}
<div class="container header">
    <h2>Inertial Measurement Unit (IMU)</h2>
    <!--<p>LPMS inertial measurement units are capable of fast and accurate 3D orientation sensing. We support a variety of-->
        <!--communication interfaces and housing options.</p>-->
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="{% url 'products:imu_product' 1 %}">
                    <img src="{% static 'images/products/imu/imu_2.png' %}" alt="" style="width:60%">
                    <div class="caption">
                        <h4>Inertial Measurement Unit (IMU)</h4>
                        <ul>
                            <li>Attitude and Heading Reference: Quaternion and Euler Angles</li>
                            <li>MMotion Tracking: Acceleration, Angular Rates</li>
                            <li>Industrial and Instrumentation Application: IP67 Standard ESD Protection, Ethernet & CAN Bus</li>
                            <li>High Vibration Immunity: Sensitivity to Linear Acceleration (0.03 °/sec/g)</li>
                            <li>Self-Calibration: Static Gyro & Magnetism Error Calibration</li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
        <!--<div class="col-sm-4">-->
            <!--<div class="thumbnail">-->
                <!--<a href="#">-->
                    <!--<img src="{% static 'images/products/imu/LPMSUSBAL2.jpg' %}" alt="" style="width:90%">-->
                    <!--<div class="caption">-->
                        <!--<h4>LPMS-USBAL2</h4>-->
                        <!--<ul>-->

                            <!--<li>USB interface</li>-->
                            <!--<li>Maximum transmission rate: 400 Hz</li>-->
                            <!--<li>Rugged aluminium housing</li>-->
                            <!--<li>Raw data, quaternion, Euler angle, linear acceleration and pressure data output</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<div class="thumbnail">-->
                <!--<a href="#">-->
                    <!--<img src="{% static 'images/products/imu/LpmsCURS2.jpg' %}" alt="" style="width:90%">-->
                    <!--<div class="caption">-->
                        <!--<h4>LPMS-CURS2</h4>-->
                        <!--<ul>-->

                            <!--<li>USB, CAN bus, UART interfaces: RS-232 or TTL signals</li>-->
                            <!--<li>Selectable binary and plain ASCII format output</li>-->
                            <!--<li>Partial CANopen standard protocol support</li>-->
                            <!--<li>Raw data, quaternion, Euler angle, linear acceleration and pressure data output</li>-->
                        <!--</ul>-->


                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
            <!--<div class="thumbnail">-->
                <!--<a href="#">-->
                    <!--<img src="{% static 'images/products/imu/LPMSCU2.jpg' %}" alt="" style="width:90%">-->
                    <!--<div class="caption">-->
                        <!--<h4>LPMS-CU2</h4>-->
                        <!--<ul>-->
                            <!--<li>CAN bus and USB interface</li>-->
                            <!--<li>Data synchronization up to 128 units using CAN Bus</li>-->
                            <!--<li>Partial CANopen standard protocol support</li>-->
                            <!--<li>Raw data, quaternion, Euler angle, linear acceleration and pressure data output</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<div class="thumbnail">-->
                <!--<a href="#">-->
                    <!--<img src="{% static 'images/products/imu/LPMSURS2.jpg' %}" alt="" style="width:90%">-->
                    <!--<div class="caption">-->
                        <!--<h4>LPMS-URS2</h4>-->
                        <!--<ul>-->
                            <!--<li>USB and RS232 interface</li>-->
                            <!--<li>Max data update rate: 400Hz</li>-->
                            <!--<li>Selectable binary and plain ASCII format output</li>-->
                            <!--<li>Raw data, quaternion, Euler angle, linear acceleration and pressure data output</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<div class="thumbnail">-->
                <!--<a href="#">-->
                    <!--<img src="{% static 'images/products/imu/LpmsUTTL2.jpg' %}" alt="" style="width:90%">-->
                    <!--<div class="caption">-->
                        <!--<h4>LPMS-UTTL2</h4>-->
                        <!--<ul>-->
                            <!--<li>USB and UART TTL (3.3V) interface</li>-->
                            <!--<li>Max data update rate: 400Hz</li>-->
                            <!--<li>Selectable binary and plain ASCII format output</li>-->
                            <!--<li>Raw data, quaternion, Euler angle, linear acceleration and pressure data output</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
            <!--<div class="thumbnail">-->
                <!--<a href="#">-->
                    <!--<img src="{% static 'images/products/imu/LpmsCANAL2.jpg' %}" alt="" style="width:90%">-->
                    <!--<div class="caption">-->
                        <!--<h4>LPMS-CANAL2</h4>-->
                        <!--<ul>-->
                            <!--<li>CAN bus interface</li>-->
                            <!--<li>Partial CANopen standard protocol support</li>-->
                            <!--<li>IP67 rugged aluminium housing</li>-->
                            <!--<li>Raw data, quaternion, Euler angle, linear acceleration and pressure data output</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<div class="thumbnail">-->
                <!--<a href="#">-->
                    <!--<img src="{% static 'images/products/imu/LpmsRS232AL2.jpg' %}" alt="" style="width:90%">-->
                    <!--<div class="caption">-->
                        <!--<h4>LPMS-RS232AL2</h4>-->
                        <!--<ul>-->
                            <!--<li>RS232 interface</li>-->
                            <!--<li>Selectable binary and plain ASCII format output</li>-->
                            <!--<li>IP67 rugged aluminium housing</li>-->
                            <!--<li>Raw data, quaternion, Euler angle, linear acceleration and pressure data output</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<div class="thumbnail">-->
                <!--<a href="#">-->
                    <!--<img src="{% static 'images/products/imu/LpmsME1.jpg' %}" alt="" style="width:90%">-->
                    <!--<div class="caption">-->
                        <!--<h4>LPMS-ME1</h4>-->
                        <!--<ul>-->
                            <!--<li>Maker edtion (OEM version)</li>-->
                            <!--<li>UART, I2C and SPI output interfaces</li>-->
                            <!--<li>Miniaturized size</li>-->
                            <!--<li>Raw data, quaternion, Euler angle, and linear acceleration output</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
{% endblock %}
