.header {
    text-align: center;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    width: 800px;
    margin: auto;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
}

.strike > span:before {
    right: 60%;
    margin-right: 15px;
}

.strike > span:after {
    left: 60%;
    margin-left: 15px;
}

.android  > span:before {
    right: 55%;
    margin-right: 15px;
}

.android > span:after {
    left: 55%;
    margin-left: 15px;
}

.links {
    text-align: center;
}

p, h4 {
    width: 800px;
    margin: auto;
    margin-bottom: 5px;
}

.container {
    /*margin-top: 20px;*/
    margin-bottom: 25px;
}
.container {
    /*margin-top: 20px;*/
    margin-bottom: 25px;
}

.front {
    margin-bottom: 0px;
}
