<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %} - DunAn</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/base4.css' %}">

    {% block css_block %}
    {% endblock %}
</head>
<body>
<div class="container front">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-left" href="{% url 'home:index' %}"><img src="{% static 'images/Logo.png' %}" width="200px" height="50px"></a>
                <a class="navbar-brand" href="{% url 'home:index' %}">Precision R&D</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'home:index' %}">HOME</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">PRODUCTS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'products:imu' %}">IMU</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'products:vimu' %}">VIMU</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'products:software' %}">Software Kit</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'products:applications' %}">References & Use Cases</a></li>
                        </ul>
                    </li>

                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
                           <!--aria-expanded="false">SOLUTIONS<span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">VR Large Room-Scale Tracking</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="#">Activity Recognition & Context Analysis</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="#">Optical-Inertial Sensor Fusion</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">SUPPORT<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'support:downloads' %}">Download</a></li>
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="#">Knowledge Base</a></li>-->
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">BUY<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Online Shop</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'buy:distributors' %}">Distributors</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'buy:terms_of_service' %}">Terms of Service</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">COMPANY<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'company:about_us' %}">About Us</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'company:customers' %}">Our Customers</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'company:contact' %}">Contact</a></li>
                        </ul>
                    </li>

                    <!--<li class='hidden-md hidden-sm'><a href="#">BLOG</a></li>-->

                    <!--<li class='hidden-md hidden-sm'><a href="#">中文</a></li>-->

                    <!--<li class='hidden-md hidden-sm'><a href="{% url 'home:index' %}">ENGLISH</a></li>-->

                </ul>
            </div><!-- /.online_shop-collapse -->
        </div>
    </nav>
</div>

{% block body_block %}

{% endblock %}

<div class="container footer">
    <p class="footer_one"><a href="{% url 'home:index' %}">Home</a> <a href="{% url 'products:imu' %}">Products</a> <a
            href="{% url 'support:downloads' %}">Support</a>
        <a href="#">Order</a> <a href="{% url 'company:about_us' %}">Company</a> <a
                href="{% url 'company:contact' %}">Contact</a></p>
    <p>Copyright © 2017 <a href="{% url 'home:index' %}">DunAn</a>. All rights reserved.</p>
</div>

</body>
</html>
