braintree==3.38.0
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.3
django-crispy-forms==1.6.1
django-registration==2.2
Faker==0.7.18
idna==2.6
olefile==0.44
Pillow==8.1.1
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
six==1.10.0
urllib3==1.22
